/.vs
/MinsaitToDDL/bin
/MinsaitToDDL/obj
/MinsaitToDDL.Console/bin
/MinsaitToDDL.Console/obj
/MinsaitToDDL.Lib/obj
/MinsaitToDDL.Lib/bin
/MinsaitToDDL.Lib/MinsaitToDDL.Lib.nuspec
/MinsaitToDDL.Lib/nugetPackagePush.cmd
/MinsaitToDDL.Lib/bin
/MinsaitToDDL.Lib/obj
/MinsaitToDDL.Console/bin
/MinsaitToDDL.Console/obj
/MinsaitToDDL.Lib/nugetPackagePush.cmd
/MinsaitToDDL.Lib/MinsaitToDDL.Lib.1.0.2.nupkg
