/.vs
/MinsatToDDL/bin
/MinsatToDDL/obj
/MinsatToDDL.Console/bin
/MinsatToDDL.Console/obj
/MinsatToDDL.Lib/obj
/MinsatToDDL.Lib/bin
/MinsatToDDL.Lib/MinsatToDDL.Lib.nuspec
/MinsatToDDL.Lib/nugetPackagePush.cmd
/MinsatToDDL.Lib/bin
/MinsatToDDL.Lib/obj
/MinsatToDDL.Console/bin
/MinsatToDDL.Console/obj
/MinsatToDDL.Lib/nugetPackagePush.cmd
/MinsatToDDL.Lib/MinsatToDDL.Lib.1.0.2.nupkg
